<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Projects Overview</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="../unit.js"></script>
    <script src="projects.js"></script>
</head>
<body ng-app="projectsView">
    <div class="container" ng-controller="ProjectsController">
        <div class="row">
            <div class="col-md-12">
                <h1>Current projects</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th ng-repeat="property in properties">
                            {{ property }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="project in allProjects">
                        <td ng-repeat="property in properties">
                            {{ project[property] }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>